[submodule "libhttpserver"]
	path = libhttpserver
	url = https://github.com/etr/libhttpserver.git
[submodule "infix"]
	path = infix
	url = https://github.com/jc-gonzalez/euc_qla_infix.git
[submodule "q"]
	path = q
	url = https://github.com/jc-gonzalez/euc_qla_q.git
